/* General styles */
h1 {
    width: 100%;
}

.img_link {
    display: inline-block;
}

img {
    border: solid 10px #EF6461;
    width: 100%;
}

footer {
    background-color: #EF6461;
}

/* Mobile phone layout */
@media (max-width: 621px) {
    body {
        background-color: #413C58;
        margin: 0 0 0 0;
        width: inherit;
    }

    h1 {
        font-size: 9vh;
        height: 11vh;
        line-height: 11vh;
        text-align: center;
    }

    p {
        font-size: 6vw;
    }

    div {
        background-color: #FFC107;
        display: flex;
        flex-direction: column;
        height: 63vh;
        margin-top: 13vh;
    }

    img {
        width: 75%;
    }

    .img_link {
        height: 50%;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    h2 {
        display: inline-block;
        height: 10%;
        font-size: 100%;
    }

    h2 a {
        display: inherit;
        height: 100%;
        width: 100%;
        font-size: 12.5vw;
    }

    /*
    Heading: 11% vh
    1 content panel: 63% vh
    1 gap: 13% vh
    */
}

@media (min-width: 622px) {
    h1 {
        line-height: 90vh;
        font-size: 20vh;
    }

    div {
        height: 100vh;
        position: relative;
        text-align: left;
        padding: 5vw;
    }

    .katsudon .img_link {
        position: absolute;
        right: -5vw;
        top: 5vw;
        width: 40vw;
    }

    h2 {
        font-size: 7.5vw;
    }

    p {
        font-size: 2.5vw;
    }
}